/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Cabin+Condensed&family=Comfortaa:wght@300..700&family=Dancing+Script&family=Epilogue:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost&family=Kalam&family=Kanit&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Display:wght@600&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Odibee+Sans&family=PT+Sans+Narrow&family=Playwrite+ZA+Guides&family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Signika+Negative:wght@300..700&family=Slabo+27px&family=Syne:wght@400..800&family=Ubuntu:wght@500&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Yesteryear&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epilogue", "san-serif";
    scroll-behavior: smooth;
}

:root{
    --clr-gold-hero: rgba(243, 213, 82, 1);
    --clr-conf-blue: #020F1B;
    --clr-conf_Gold: #F3D552;
    --clr-conf-Gray-bg: rgba(139, 136, 136, 0.05);
    --conf-gray-main: rgba(255, 255, 255, 1);
    --clr-conf-Gold-bg: rgba(243, 213, 82, 0.2);
    --clr-conf-white: #fff;
    --clr-button-gold-bg: rgba(32, 32, 31, 1);
}

/* Security */
body {
  user-select: none;        /* Modern browsers */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}

/* Hero Section */
#hero{
    padding: 40px 100px;
    background: linear-gradient(rgb(2, 15, 27, 0.7), rgb(2, 15, 27, 0.8)), url(/assets/hero/Estate_bg.jpg) no-repeat center/cover;
    /* height: 100vh; */
    color: var(--clr-conf-white);
    /* opacity: 15%; */
}
.hero_Contents{
    display: flex;
    justify-content: space-between;
      animation: fadeInUpScale 0.8s ease-out forwards;
  opacity: 0;
}
#goldBtn{
    margin: 15px 0 0 0;
    background: var(--clr-button-gold-bg);
    color: var(--clr-conf-white);
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
}
/* .headreTittle{
    position: relative;
    display: inline-block;
} */
.headreTittle h2{
    font-weight: 500;
    font-size: 5rem;
    line-height: 100%;
    margin: 22px 0;
    transition: color 0.9s ease;
}
.headreTittle:hover{
    color: var(--clr-gold-hero);
    cursor: vertical-text;
}
.hero_insights p{
    line-height: 1.4;
    font-size: 1rem;
    /* text-align: justify; */
}
.event_target_ics{
    margin: 25px 0;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 15px;
}
.event_target_ics img{
 width: 30px;
}
.event_target_ics i{
    font-size: 25px;
    color: var(--clr-conf-white);
}
.event_target_ics span{
    position: relative;
    top: -7px;
}
.event_target_ics .location_dot i, .event_target_ics .time_dot i{
    position: relative;
    top: -7px;
}
.countdown{
    display: flex;
    margin: 35px 0;
    /* gap: 10px; */
}
.countdown div{
    margin: 0 15px;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    left: -15px;
}
.countdown div button{
    font-size: 2rem;
    background: transparent;
    border: 1px solid var(--conf-gray-main);
        color: var(--clr-conf-white);
        border-radius: 5px;
            padding: 8px 12px;
    margin-bottom: 5px;
}
.countdown div p{
    margin: 2px 0;
    text-transform: uppercase;
}
#event-status{
    font-weight: bold;
    background: #71ec71;
    border-radius: 10px;
    padding: 18px;
    border: none;
    position: relative;
    top: -20px;
    animation-name: scale;
    animation-duration: 0.8s;
    animation-timing-function: 1;
    animation-iteration-count: infinite;
    display: none;
}
@keyframes scale {
    0%{
        transform: scale(1.1);
        box-shadow: 0 0 10px #71ec71;
    }
}
.registerActions button{
    background: var(--clr-gold-hero);
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#registerEvent a, #viewTopics a{
    color: #000;
    text-decoration: none;
}
#viewTopics{
    margin-left: 18px;
}

#heroImg{
   height: 80vh;
   width: 100%;
   transition: transform 0.9s ease, background-color 0.9s ease;
}
/* For mobile */
#heroImgMobile{
    width: 100%;
    display: none;
       transition: transform 0.9s ease, background-color 0.9s ease;
}
#heroImg:hover, #heroImgMobile:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: grayscale(70%);
}
/* Professionals */
#professionals{
    background: var(--clr-conf-Gray-bg);
    padding: 40px 100px;
    animation: fadeInUpScale 0.8s ease-out forwards;
  opacity: 0;
}

.profHeadre, .expertsHeadre, .conf_header, .deatilsHeader, .registration_heder{
   text-align: center;
   line-height: 1.3;
   margin-bottom: 20px;
}
.profHeadre h2, .expertsHeadre h2, .conf_header h2, .deatilsHeader h2, 
.registration_heder h2{
    font-size: 3rem;
    font-weight: 500;
    font-style: medium;
    margin: 5px 0;
    /* color: var(--clr-conf_Gold); */
}
/* Professional Section */
.professionals_Cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 45px;
    margin: 35px 0;
}
.professionals_Cards > div{
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 35px 20px;
    text-align: center;
    background: var(--conf-gray-main);
    transition: transform 0.9s ease, background-color 0.9s ease;
}
.professionals_Cards > div:hover{
    background: var(--clr-gold-hero);
    transform: translateY(15px);
    cursor: pointer;
}
.professionals_Cards > div img, .professionals_Cards > div p{
    margin: 15px 0;
}

/* Experts */
#Experts{
    padding: 40px 100px;
    animation: fadeInUpScale 0.8s ease-out forwards;
  opacity: 0;
}
.expertsCard{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 35px;
}
.expertsCard  .card{
    background: var(--clr-gold-hero);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    transition: transform 0.9s ease, background-color 0.9s ease;
    width: 300px;
}
.expertsCard > .card:hover{
    cursor: pointer;
    transform: translate3d(20px, 30px, 0);

}
.imgPlaceholder img{
    width: 100%;
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
/* #cardImage{
 border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} */
.cardContents{
    padding: 5px 15px;
    line-height: 1.7;
    /* line-height: 2; */
}
.speaker_field{
    margin: 10px 0;
}
.cardContents > #identity{
    background: var(--conf-gray-main);
    padding: 10px;
}
.social_icons{
    margin-top: 20px;
}
.social_icons img{
    margin: 0 10px;
    cursor: pointer;
}
/* Topics Section */
#conf_topics{
    padding: 40px 100px;
     background: var(--clr-conf-Gray-bg);
     animation: fadeInUpScale 0.8s ease-out forwards;
  opacity: 0;
}
.main_topics_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 40px;
     margin: 30px 0 0 0;
}
.conf_cards{
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px 30px;
    transition: transform 0.9s ease, background-color 0.9s ease;
}
.conf_cards:hover{
    cursor: pointer;
    transform: translateX(10px);
    background: var(--clr-conf-Gold-bg);
}
.cardtagImg{
    background: var(--clr-conf-blue);
   width: 51px;
height: 46px;
opacity: 1;
border-radius: 4.05px;
text-align: center;
}
.cardtagImg img{
    width: 30px;
    position: relative;
    top: 5px;
}
.card_reader{
    display: flex;
    margin: 31px 0;
}
.cardContentsHeader{
    margin-left: 10px;
}
.conf_cards button{
    background: var(--clr-conf_Gold);
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    font-weight: bold;
}
/* Expect */
#expect{
    margin: 40px 0 0 0;
    padding: 0 50px;
    animation: fadeInUpScale 0.8s ease-out forwards;
  opacity: 0;
}
.expect_Content{
    background: var(--conf-gray-main);
    border-radius: 10px;
    padding: 30px 0;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.expect_Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 0;
    text-align: center;
}
.cardExpect{
    border-radius: 10px;
    transition: transform 0.9s ease;
    padding: 10px 20px;
}
.cardExpect:hover{
    cursor: pointer;
    background: var(--clr-conf-Gray-bg);
    transform: translate3d(10px, 10px, 0);
}

/* Conference Details & Registrations */
#details_registration{
    padding: 40px 100px;
    animation: fadeInUpScale 0.8s ease-out forwards;
  opacity: 0;
}
.details_reg_Cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin: 45px 0;
}
.registration_card{
    border-radius: 10px;
    border: 1px solid var(--clr-conf-blue);
    padding: 35px 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.9s ease, background-color 0.9s ease;
}
.registration_card:hover{
    cursor: pointer;
    background: var(--clr-conf-Gray-bg);
    border: 1px solid var(--clr-conf-Gray-bg);
     box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.img_Details{
    margin-bottom: 30px;
}
.img_Details img{
       box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
       padding: 10px;
       border-radius: 10px;
}
.details_title{
    margin-bottom: 8px;
}
.scroll_Icons{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -160px;
    content-visibility: hidden;
}
.scroll_Icons_Experts{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -250px;
    content-visibility: hidden;
}
.scroll_Icons i, .scroll_Icons_Experts i{
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 0 4px 4px 1px var(--clr-conf-blue); */
    background: var(--clr-conf-Gold-bg);
    cursor: pointer;
}
.venueInfo{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
}
.venueLocationImportant, .venueOrganizers{
    background: var(--clr-conf-Gold-bg);
    border-radius: 7.8px;
    padding: 35px 45px;
    animation: fadeInUpScale 0.8s ease-out forwards;
  opacity: 0;
    /* animation-name: venueHue;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: 1; */
    transition: transform 0.8s ease, background-color 0.8s ease;
}
@keyframes fadeInUpScale {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.venueLocationImportant{
    display: flex;
    justify-content: space-between;
}
.venueInfoImg{
    position: relative;
    top: -10px;
}

/* Registration Form */
#resgistration_form{
    padding: 40px 100px;
}
#resgistration_form hr{
    border-top-width: 2px;
    position: relative;
    top: -20px;
}
/* .resgistration_Form_Card_option{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
   margin-top: 50px;
} */
 .resgistration_Form_Card_option {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    margin-top: 50px;
    align-items: end; /* Align all items to the bottom line */
}
/*.resgistration_Form_Card_option .card.middle {
     height: 350px;  Taller height for the middle one 
}
*/

 /*.resgistration_Form_Card_option .card:not(.middle) {
    height: 270px;  Shorter height for the side ones 
}
*/

.reg_card{
    border: 1px solid var(--clr-conf_Gold);
    border-radius: 20px;
    padding: 35px 25px;
    /* text-align: center; */
     transition: transform 0.9s ease;
}
.reg_card:hover{
    transform: translateY(12px);
    cursor: pointer;
}
.reg-type{
    color: var(--clr-conf_Gold);
    margin: 10px 0;
}
.price_info{
    margin: 25px 0;
}
.price_info h2{
    margin-bottom:8px ;
}
#discount_btn{
    background: var(--clr-conf_Gold);
    padding: 12px 45px;
    border: none;
    box-shadow: 0 4px 4px 4px 1px var(--clr-conf_Gold);
    margin-bottom: 13px;
    transition: transform 0.9s ease;
}
#discount_btn:hover{
    box-shadow:  0 0 10px var(--clr-gold-hero);
    transform: scale(1.1);
    cursor: pointer;
}
/* #vipPass{
    transform: translateY(-50px);
} */
 #vipPass > #_Most{
    position: relative;
    /* top: -60px; */
    border: none;
    border-radius: 20px;
    padding: 13px 45px;
    background: var(--clr-conf_Gold);
 }
.reg_card ul{
    list-style-type: none;
}
.reg_card ul li{
    padding: 5px 0;
}
.reg_card ul li i{
    padding-right: 8px;
}
/* Discalimer */
.disclaimerContainer{
    background: var(--clr-conf-Gold-bg);
    padding: 30px;
    border: 1px solid var(--clr-conf-blue);
    border-radius: 10px;
    margin: 20px 50px;
    line-height: 1.5;
}
/* Footer Section */
#footer{
    background: var(--clr-conf-blue);
    color: var(--conf-gray-main);
    padding: 40px 100px;
}
.footer_contents{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.formNews{
    margin: 35px 0;
}
.newsForm input{
    border: 1px solid var(--conf-gray-main);
    background: rgba(139, 136, 136, 0.2);
    border-radius: 10px;
    padding: 13px 9px;
    width: 300px;
    color: var(--conf-gray-main);
}
.newsForm button{
    border-radius: 10px;
    padding: 13px 30px;
    font-weight: bold;
    border: none;
    background: var(--clr-gold-hero);
    margin-left: 10px;
}
.footer_organize{
    display: flex;
}
.bitmaps_footer{
    margin-left: 20px;
}
.footer_Contacts p{
    margin: 17px 0;
}
.footer_Contacts a{
    text-decoration: none;
    color: var(--conf-gray-main);
}
.footer_Contacts p img, .footer_Contacts p i{
    position: relative;
    top: 5px;
    padding: 0 8px;
}
.footer_Contacts p i{
    font-size: 23px;
}
/* Media Querry for Mobiles */
@media screen and (min-width: 0) and (max-width: 700px) {
    #hero, #professionals, #Experts, #conf_topics, #details_registration
    , #resgistration_form, #footer{
         padding: 10px 20px;
    }
    /* #hero{
        height: 140vh;
    } */
    .hero_Contents, .footer_contents{
        display: block;
    }
    .countdown{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .hero_Contents h2{
        font-size: 2.5rem;
    }
    .profHeadre h2, .expertsHeadre h2, .conf_header h2, .deatilsHeader h2, 
    .registration_heder h2{
        font-size: 2rem;
    }
    .heroImg{
        margin: 30px 0;
    }
    #heroImg{
        display: none;
    }
    #heroImgMobile{
        display: block;
    }
    .event_target_ics{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* Professionals */
   .professionals_Cards{
        grid-template-columns: auto;
        row-gap: 30px;
   }
   /* Conf Cards */
   .main_topics_card, .resgistration_Form_Card_option{
    grid-template-columns: auto;
   }
   /* Expect */
   #expect{
     padding: 0 30px;
   }
   .expect_Cards{
    display: block;
    padding: 0 20px;
   }
   .cardExpect, .disclaimerContainer{
    margin: 25px 0;
    background: var(--clr-conf-Gray-bg);
    padding: 10px 20px;
    border-radius: 10px;
   }
   .disclaimerContainer{
    background: var(--clr-conf-Gold-bg);
   }
   /* Registration Details */
   .details_reg_Cards, .expertsCard{
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    }
    .expertsCard{
        grid-template-columns: repeat(5, 1fr);
    }
    .details_reg_Cards::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
   }
   .scroll_Icons, .scroll_Icons_Experts{
    content-visibility: visible;
    scroll-behavior: smooth;
   }
   /* Venue Info */
   .venueInfo, .venueLocationImportant{
    display: block;
    margin: 20px 0;
    text-align: center;
   }
    .venueInfoImg{
    position: relative;
    top: 15px;
}
/* Footer */
.rightFooter{
    margin: 35px 0;
}
.footer_Contacts{
    margin: 15px 0;
}
.footer_Contacts p{
    margin: 17px 0;
}
.bitmaps_footer{
    margin-left: 5px;
}
.newsForm button, .newsForm input{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
}
/* Register Btn */

}
.scrollAdd{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}
/* Media for iPads */
@media screen and (min-width: 700px) and (max-width: 1025px) {
      #hero, #professionals, #resgistration_form, #footer{
         padding: 10px 20px;
    }
      .hero_Contents{
        display: block;
    }
     .heroImg{
        margin: 30px 0;
    }
       /* Professionals */
   .professionals_Cards, .expertsCard, .resgistration_Form_Card_option, .expertsCard{
        grid-template-columns: auto auto;
        row-gap: 30px;
   }
   /* Registration */
   .details_reg_Cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  /* Venue Info */
   .venueInfo{
    display: block;
    margin: 20px 0;
    text-align: center;
   }
}

@media screen and (min-width: 1025px) and (max-width: 1350px) {
      /* Registration */
   .details_reg_Cards, .resgistration_Form_Card_option, .expertsCard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
}

